@charset "utf-8";

html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a:hover{text-decoration:none;}
ins,a{text-decoration:none}
.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{*zoom:1}
.left{ float: left;}
.right{ float: right;}
.text-left{ text-align: left;}
.text-center{ text-align: center;}
.text-right{ text-align: right;}
.pop-alert{ position: absolute; color: #fff; z-index: 99999; border-radius: 0.1rem; height: 100%; width: 100%; left: 0; top: 0; display: none;}
.pop-alert .text{ position: absolute; width: 6.18rem; height: 3.24rem; left: 50%; top: 50%; margin-top: -1.62rem; margin-left: -3.09rem; font-size: 0.3rem; line-height: 150%; background: rgba(0,0,0,0.80); border-radius: 0.2rem;}
.pop-alert .pop-wrap{ height: 100%; width: 100%; position: fixed; top: 0px; left: 0;}
.pop-masker{ background-color: #161831; opacity: 0.8; height: 100%; width: 100%; display: none; position: fixed; top: 0px; left: 0; z-index: 9999;}
.pop-wrap-inner{ width: 70.833333333333%; opacity: 1; position: absolute; left: 15%; top: 50%; margin-top: -15%;}
.pop-doctor .pop-wrap-inner{ width: 63.38888888888889%; left: 18.3%; margin-top: -20%;}
.pop-designer .pop-wrap-inner{ width: 63.38888888888889%; left: 18.3%; margin-top: -16%;}

/*layout*/
html,body{ width: 100%; font-size: 12px; line-height: 150%;}
body{ max-width: 1920px; width: 100%; background-color: #fff;}

/*bootstrap*/
@media (min-width:1400px){.container{width:1370px}}
@media (min-width:1600px){.container{width:1570px}}
@media (min-width:1800px){.container{width:1770px}}
@media (min-width:1830px){.container{width:1800px}}

.delay0_25{
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}
.delay0_5{
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.delay0_75{
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}
.delay1{
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.delay1_25{
  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
}
.delay1_5{
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.delay1_75{
  animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
}
.delay2{
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.delay2_25{
  animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
}
.delay2_5{
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.delay2_75{
  animation-delay: 2.75s;
  -webkit-animation-delay: 2.75s;
}
.delay3{
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}
.delay3_25{
  animation-delay: 3.25s;
  -webkit-animation-delay: 3.25s;
}
.delay3_5{
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
}
.delay4{
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}
.delay4_5{
  animation-delay: 4.5s;
  -webkit-animation-delay: 4.5s;
}
.delay5{
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.delay5_5{
  animation-delay: 5.5s;
  -webkit-animation-delay: 5.5s;
}
.delay6{
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}