@charset "utf-8";

/*common*/
.flex{ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex;  display: flex;}
.flex-items-center{ -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center;}
.flex-items-middle{ -webkit-align-items: center; align-items:center;}
.flex-wrap{ flex-wrap: wrap; }
.input-text{ box-sizing: border-box;}
.icon,
.btn{ display: inline-block; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.page-wrap{ font-size: 0.32rem; line-height: 150%; background-color: #f3f3f3;}
.img-wrap img{ display: block; width: 100%; }
.masker{ position: fixed; z-index: 98; height: 100%; width: 100%; background-color: rgba(0,0,0,0.75); left: 0; top: 0;}
.popup{ display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.popup .popup-masker{ position: absolute; width: 100%; height: 100%; background-color: #000; opacity: 0.5;}
.popup .popup-content{ position: absolute; width: 8.8rem; height: 4.8rem; left: 50%; margin-left: -4.4rem; top: 50%; margin-top: -2.4rem;}
.popup .popup-content .popup-close{ position: absolute; right: 0; top: 0;}
.popup .popup-content-inner{ background-color: #fff; border-radius: 0.5rem; overflow: hidden; height: 100%; box-shadow: 0 0 0.5rem #777;}
/*.swiper-container{ height: 100%; width: 100%;}
.swiper-container .swiper-wrapper,
.swiper-container .swiper-slide{ width: 100%; height: 100%; }*/
.confirm-btn{ padding: 0 0.3rem; margin: 0.2rem 0; box-sizing: border-box; height: 1.2rem; text-align: center;}
.confirm-btn .btn{ line-height: 1.2rem; font-size: 0.48rem; border-radius: 0.12rem; width: 100%;}
.ellipsis-1,
.ellipsis-2{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical; }
.ellipsis-2{ -webkit-line-clamp: 2;}


/*head*/
.language-tabs{ float: right; padding-right: 15px; padding: 8px 0;}
.language-tabs .tab-item{ font-size: 12px; line-height: 120%; color: #000; border-left: 1px solid #666; float: left; padding: 0 5px;}
.language-tabs .tab-item:first-child{ border-left: none; }
.main-nav-wrap{ clear: right; padding: 8px 0;}
.btn-menu{ float: right; line-height: 24px; font-size: 14px; padding: 0 5px;}
.main-nav{ float: right; padding-right: 15px;}
.main-nav li{ float: left; }
.main-nav li a{ color: #595959; float: left; line-height: 24px; font-size: 14px; padding: 0 15px; text-decoration: none;}

/*foot*/
.foot{ height: 80px; background: #404041; }
.foot .copyright{ padding-top: 30px; line-height: 20px; font-size: 12px; color: #fff; }

/*container*/
.center-inner{ }
.swiper-banner{ height: 4rem; overflow: hidden;}
.swiper-banner .img-wrap{ width: 100%;}

.banner{ position: relative; min-height: 400px;}
.banner .img,
.banner .text{ position: absolute; width: 100%; height: 100%;}
.banner .img{ width: 100%; background-color: #ccc; height: 100%;}
.banner-l .img,
.banner-r .text{ left: 0; top: 0;}
.banner-r .img,
.banner-l .text{ right: 0; top: 0;}
.bg-tp-1{ background-color: rgba(255,255,255,0.5); width: 50%;}
.list-view .doctor-list li{ float: left; width: 25%; }
.banner-c .text-inner{ width: 50%; margin: 0 auto;}



/*index*/


/*product-detail*/

/*brand*/


